#fifth{
    height:40vh;
    background-color: blue;
}
#first{
    height:100vh;
}
#first>.head{
    height:23vh;
    background-color: chocolate;
}
#first>.head>.subhead{
    height:auto;
    background-color: yellow;
}
#first>.firstcontent{
    height:77vh;
    background: green;
}
#second{
    height:auto;
    background:violet;
}
#third{
    height:auto;
    background:rgb(32,32,32);
    text-align: justify;
}
#forth{
    height:auto;
    background-color: greenyellow;
}
.subhead>.grid-container>.grid-x{
    padding-top:1.5vh;
    padding-bottom: 1.5vh;
}
div.sub1{
    height: 100%;
    text-align: left;
}
div.sub2{
    height: 100%;
    text-align: right;
    border-left:1px solid red;
}
div.sub4{
    text-align:center;
}
#second>.grid-x{
    padding-top:15vh;
    padding-bottom:15vh;
    padding-left:20px;
    padding-right: 20px;
    height:auto;
}
.grid-x>.card{
    padding:10px;
}
#second>.grid-x>.side>p{
    text-align: justify;
}
div>strong{
    font-weight: bold;
    color: white;
}
#third>.grid-container>.grid-x{
    padding-top:15vh;
    padding-bottom: 15vh;
}
#third>.grid-container>.grid-x>.cell{
    padding-left: 20px;
    padding-right: 20px;

}
#third>.grid-container{
    color:white;
}
#forth>.grid-container>.grid-x>.cell{
    padding:20px;
}
.card>ul>li{
    list-style-type: square;
}
#forth>.grid-container{
    padding-top:10vh;
    padding-bottom:10vh;
}
#spesial{
    height: auto;
    background:darkgrey;
    padding-top:4vh;
    padding-bottom:3vh;
    
}
#spesial>h2{
    text-align:center;
    font-weight: bold;
}
.grid-x>.large-3>h1{
    font-weight: bold;
}
.grid-x>.large-6>p{
    text-align: justify;
}
.grid-x>.large-6>h1{
    font-weight: bold;
}
.side>h2{
    font-weight: bold;
}
#fifth>.grid-container>.grid-x{
    padding:20px;
    padding-top:6vh;
    padding-bottom: 6vh;
}
.grid-x>.large-6>.button{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    font-weight: bold;
}