#fifth{
    height:auto;
    background-color: #fdc00d;
    color:#1f1f1f;
}
#first{
    height:100vh;
}
#first>.head{
    height:auto;
    background-color:#1f1f1f;
    color:white;
}
#first>.head>.subhead{
    height:auto;
    background-color: #bdbdc1;
    color:#1f1f1f;
    font-weight: bold;
}
.subhead>.grid-container>.grid-x>.cell>a{
    color: #1f1f1f;
    font-weight: bold;
}
#first>.firstcontent{
    height:80vh;
    background-repeat:no-repeat;
    background-size: cover ;
    background-position:center;
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
    background-image: url(https://res.cloudinary.com/bijancot/image/upload/q_auto:low/v1541174433/bkr/back-low.jpg);
}
#second{
    padding-top:15vh;
    padding-bottom:15vh;
    padding-left:20px;
    padding-right: 20px;
    height:auto;
    background:#fdc00d;
    color:black;
    font-weight: bold;
}
p.esc{
    font-size:1em;
}
#third{
    height:auto;
    background-repeat:no-repeat;
    background-size: cover ;
    background-position:center;
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
    background-image: url(https://res.cloudinary.com/bijancot/image/upload/q_auto:low/v1541241221/bkr/tool-steel-industrial-security-cut-shoes-513138-pxhere.com.jpg);
    text-align: justify;
}
#forth{
    height:auto;
    background-color:#1f1f1f;
    color:white;
}
.subhead>.grid-container>.grid-x{
    padding-top:1.5vh;
    padding-bottom: 1.5vh;
}
div.sub1{
    text-align: left;
    padding-top:4px;
}
div.sub2{
    text-align: right;
}
div.sub4{
    text-align:center;
}
#second>.grid-x{

    height:auto;
}
.grid-x>.card{
    padding:10px;
}
#second>.grid-x>.side>p{
    text-align: justify;
}
div>strong{
    font-weight: bold;
    color: white;
}
dd{
    font-weight: normal;
}
#third>.third-wrap>.grid-container>.grid-x{
    padding-top:15vh;
    padding-bottom: 15vh;
}
#third>.third-wrap>.grid-container>.grid-x>.cell{
    padding-left: 20px;
    padding-right: 20px;

}
#third>.grid-container{
    color:white;
}
#third>.third-wrap{
    background-color: #bdbdc1ab;
    color:black;
    padding-top:10vh;
    padding-bottom: 10vh;
}
.third-wrap>.grid-container>.grid-x{
    background-color: rgba(252, 252, 252, 0.589);
}
#forth>.grid-container>.grid-x>.cell{
    padding:20px;
}
.card>ul>li{
    list-style-type: square;
}
#forth>.grid-container{
    padding-top:10vh;
    padding-bottom:10vh;
}
#spesial{
    height: auto;
    background:darkgrey;
    padding-top:4vh;
    padding-bottom:3vh;
    
}
#spesial>h3{
    text-align:center;
    font-weight: bold;
}
.grid-x>.large-3>h1{
    font-weight: bold;
}
.grid-x>.large-6>p{
    text-align: justify;
}
.grid-x>.large-6>h1{
    font-weight: bold;
}
.side>h2{
    font-weight: bold;
}
#fifth>.grid-container>.grid-x{
    padding-top:6vh;
    padding-bottom: 4vh;
}
.grid-x>.large-6>.button{
    width:95%;
    margin-left:2.5%;
    padding-left:5%;
    font-weight: bold;
}
.step{
    width:12%;
    display:inline-block;
}
.size-24{
    font-size: 24px;
}
.main-head{
    padding-top:1vh;
    padding-bottom:1vh;
    height: auto;
}
.main-head>.top-bar-left>h1{
    font-weight: bold;
}
.top-bar, .top-bar ul{
    background-color: #ffffff00;
}
.menu>li{
    padding-left:10px;
    font-size:1.3rem;
    font-weight:bold;
}
.menu>li>a{
    color:white;
}
.firstcontent>.first-wrap{
    height: 100%;
    background: #bdbdc167;
}
.memen>h2{
    font-weight: bold;
    font-size:24px !important;
    margin-bottom: 5vh !important;   
}
div.memen{
    text-align:center !important;
}
blockquote{
    color:black;
    border-left:3px solid black;
}
h4{
    font-weight: bold;
    color: black;
}
h6{
    font-size: 0.8em;
    color: black !important;
}
h6>a{
    color: black !important;
}